/*==============================================================================
Custom CSS Style Sheet Vignettes
Created: 2020-02-14
==============================================================================*/

/* Change horizontal rule to light blue */
hr {
    background-color: #66b3ff;
    height: 1px;
}

/* Space out ordered lists a little bit */
li {
  padding: 2.5px;
}

/* Style Block Quotes */
blockquote {
  font-size: 12pt;
  font-style: italic;
  border-left: 4px solid #66b3ff;
  margin-left: 20pt;
}

/* Add spacing before all H1 tags and underline them in light blue */
h1 {
  margin-top: 2cm;
  padding-bottom: 0.25cm;
  border-bottom: 1px solid #66b3ff;
}

/*
Add a little spacing before H2 tags so that they don't look like they go with
the code chunk above.
I also adjust the font size to 12pt. so that I can still use H2 (as opposed to
H3, H4, etc.), but can more easily be distinguished from H1 in output.
*/
h2 {
  margin-top: 1cm;
  margin-bottom: 0;
  font-size: 12pt; /*  */
}
